:root {
    --blanco: #fff;
}

html {
    box-sizing: border-box;
    background-color: rgb(213, 213, 213);
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    font-weight: 800;
}

@media (max-width: 700px) {
    .titulo {
        font-size: medium;
    }
}

.headerc {
    text-align: center;
}

.image {
    float: left;
    width: 6rem;
}

.texth {
    text-decoration: none;
    color: #000;
    font-size: x-large;
    font-weight: bold;
    color: orangered;
    font-style: oblique;
    border: solid;
    border-radius: 10%;
}

@media (max-width:700px) {
    .texth {
        font-size: medium;
    }
}

@media (max-width:450px) {
    .texth {
        font-size: small;
    }
}

.linka {
    height: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: var(--blanco);
}

.linka a:hover {
    color: blue;
}

.margin {
    margin-left: 5rem;
}

.borde {
    border: solid;
}

.tabla {
    height: 1.6rem;
    border-collapse: collapse;
}

.center {
    text-align: center;
}

.tablanro {
    width: 20%;
}

.tablat {
    width: 35%;
}

.tablad {
    width: 65%;
}

.texto__solo {
    font-size: large;
    font-weight: bold;
}

.stabla {
    width: 100%;
}

.footer {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: orangered;
    font-style: oblique;
    border: solid;
}

@media (max-width:450px) {
    .footer {
        font-size: small;
    }
}

@media (max-width:350px) {
    .footer {
        font-size: x-small;
    }
}