html {
    box-sizing: border-box;
    background-color: rgb(213, 213, 213);
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    font-weight: 800;
}

.headerc {
    text-align: center;
    border: solid;
    border-left: 0ch;
    border-right: 0ch;
}

.image {
    float: left;
    width: 6rem;
}

.texth {
    text-decoration: none;
    color: #000;
    font-size: x-large;
    font-weight: bold;
}

.linka {
    border: solid;
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
    height: 3rem;
    padding-top: 1rem;
}

.body {
    border-left: solid;
    border-right: solid;
}

.footer {
    height: 1rem;
    width: 100%;
    border: solid;
    border-left: 0ch;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.margin {
    margin-left: 5rem;
}

.borde {
    border: solid;
}

.tabla {
    height: 1.6rem;
    border-collapse: collapse;
}

.center {
    text-align: center;
}

.tablanro {
    width: 10rem;
}

.tablat {
    width: 35rem;
}

.tablad {
    width: 55rem;
}