        html {
            box-sizing: border-box;
            background-color: rgb(213, 213, 213);
            color: #000;
            font-family: 'Courier New', Courier, monospace;
        }
        
        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }
        
        .titulo {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 5rem;
            font-weight: 800;
        }
        
        .headerc {
            text-align: center;
        }
        
        .image {
            float: left;
            width: 6rem;
        }
        
        .texth {
            text-decoration: none;
            color: #000;
            font-size: x-large;
            font-weight: bold;
        }
        
        .textd {
            text-decoration: none;
            color: #000;
            font-size: xx-large;
        }
        
        .linka a:hover {
            color: blue;
        }
        
        .linka {
            height: 3rem;
            padding-top: 1rem;
            display: flex;
            justify-content: space-evenly;
        }
        
        .body {
            width: 95%;
        }
        
        .container {
            width: 85%;
        }
        
        .bcontainer {
            display: flex;
        }
        
        .footer {
            width: 98%;
            display: flex;
            justify-content: space-between;
        }
        
        .derecho {
            text-align: center;
            width: 25%;
            margin-right: 0ch;
            border-right: 0ch;
            color: #000;
            background-color: #fff;
            border-radius: 10%;
        }
        
        .lista {
            display: inline-block;
            text-align: center;
            color: #000;
        }
        
        .rectangulo {
            margin-left: 5rem;
            margin-top: 1.3rem;
            height: auto;
            width: 80%;
            padding-bottom: 1rem;
        }
        
        .margin {
            margin-left: 5rem;
        }
        
        .borde {
            border: solid;
        }
        
        .texto {
            text-align: justify;
            padding: 4px 16px;
        }
        
        .center {
            text-align: center;
        }
        
        .margz {
            margin: 0cm;
        }
        
        .ol {
            text-align: left;
            display: inline-block;
            margin: 0%;
        }
        
        .fin {
            margin-bottom: 1.3rem;
        }
        
        .footerr {
            margin-left: 3rem;
        }
        
        .footerl {
            margin-right: 4.6rem;
        }